# --- Python ---
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/
.venv/

# --- Build / packaging files ---
*.egg-info/
*.egg
dist/
build/
*.spec

# --- VSCode ---
.vscode/
*.code-workspace

# --- OS files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
